@{
    ViewBag.Title = "דף הבית";
}

<table>
    <tr>
        <td>
            <div style="width:200px;"></div>
       </td>  
        <td>
@*  @if (int.Parse(Session["Status"].ToString()) != 1111 && int.Parse(Session["Status"].ToString()) != 2222 && int.Parse(Session["Status"].ToString()) != 3333) {*@
<form action="@Url.Action("Logino","Home")" class="details">
    <h4>שם משתמש</h4>
    <input type="text" id="username" name="username" placeholder="שם משתמש" class="filterText"><br/>
    <h4>סיסמה</h4>
    <input type="password" id="password" name="password" placeholder="סיסמא" class="filterText"><br /><br /><br />
    <input type="submit" id="submit" name="submit" value="התחבר" class="linkdetails" style="border-radius:1em;"><br />
</form>
              
        </td>
        <td>
            <div style="width:250px;"></div>
        </td>

        <td>
        <img src="~/Content/images/redlogo.jpg" width="600" height="400" title="logo" alt="logo" style="margin-top:150px" /></td>
    </tr>
    <tr>
        <td>
            <p style="font-family:Arial; font-size:medium;">
                </p>
        </td>
    </tr>
</table>